{{ $caption := .Get "caption" }}
{{ $useHeaderRow := .Get "header" }}
{{ $rows := .Inner | transform.Unmarshal }}
{{ $bgcolors := .Get "bgcolors" | default ""}}
{{ $colors := .Get "colors" | default ""}}
{{ $cvals := .Get "cvals" | default ""}}

{{ $cvals := split $cvals "," | append ""}}
{{ $colors := split $colors "," | append ""}}
{{ $bgcolors := split $bgcolors "," | append ""}}
{{ $numvals := len $cvals }}
{{ index $bgcolors 3 }}
{{ $maxval := sub $numvals 1 }}

<table>
  {{ with $caption }}<caption>{{ . }}</caption>{{ end }}
  {{ if $useHeaderRow }}
    {{ $headerRow := index $rows 0 }}
    {{ $rows = after 1 $rows }}
    <thead>
      <tr> 
        {{ range $i, $d := $headerRow }} 
          <th style={{ cond (eq $i 0) "text=align:left" "text-align:center" }}>{{ . }}</th> 
        {{ end }} 
      </tr>
    </thead>
  {{ end }}
  {{ range $k, $r := $rows }}
    <tr>
      {{ range $j, $d := $r }}
        {{ $align := cond (eq $j 0) "left" "center" }}
        
        {{ range $i, $max := (seq $numvals) }}
          {{ $c := index $cvals $i }}
          {{ if eq $i $maxval }}
            {{ if (findRE "^\\d+$" .) }}
              <td align={{ $align }} class="numeric" bgcolor={{ index $bgcolors $i }}><font color={{ index $colors $i}}>{{ $d }}</font></td>
            {{ else }}
              <td align={{ $align }} bgcolor={{ index $bgcolors $i }}><font color={{ index $colors $i}}>{{ $d }}</font></td>
            {{ end }}
          {{ else if eq $d $c }}
            {{ if (findRE "^\\d+$" .) }}
              <td align={{ $align }} class="numeric" bgcolor={{ index $bgcolors $i }}><font color={{ index $colors $i}}>{{ $d }}</font></td>
            {{ else }}
              <td align={{ $align }} bgcolor={{ index $bgcolors $i }}><font color={{ index $colors $i}}>{{ $d }}</font></td>
            {{ end }}
            {{ break }}
          {{ end }}
        {{ end }}
      {{ end }}

    </tr>
  {{ end }}
</table>


