{{ $csvURL := .Get "csvfile" }}
{{ $csv := getCSV "," $csvURL }}
{{ $height := .Get "height" | default "400px" }}
{{ $width := .Get "width" | default "800px" }}
{{ $title := .Get "title" | default "" }}
{{ $style := .Get "style" | default "style1" }}
{{ $tf := .Get "tf" | default "tf1" }}
{{ $xaxis_title := .Get "xaxis_title" | default "" }}
{{ $yaxis_title := .Get "yaxis_title" | default "" }}

<div id='{{ .Get "id" }}' style="height:{{$height}};width:{{$width}}">

</div>

<script>
    var csvdata = {{ $csv }};

    var styles = {
        'style1': {
            'color': ['', '#8CB8CA', '#D4D757', '#8CB8CA', '#D4D757'],
            'dash': ['', 'solid', 'solid', 'dot', 'dot']
        },
        'style2': {
            'color': ['', '#FF8F6E', '#93BBCC', '#A8A9AB', '#F7CF3F'],
            'dash': ['', 'solid', 'solid', 'solid', 'solid']
        },
        'style3': {
            'color': ['', '#8CB8CA', '#D4D757', '#CA7F9B', '#F7CF3F'],
            'dash': ['', 'solid', 'solid', 'dot', 'dot']
        },
        'ta': {
            'color': ['', '#006c69', '#a0d0cb', '#b9d9ec', '#ffb81d', '#c41d4a', '#1c355e'],
            'dash': ['', 'solid', 'solid', 'solid', 'solid', 'solid', 'solid']
        },
        'ta2': {
            'color': ['', '#006c69',  '#b9d9ec', '#a0d0cb', '#c41d4a', '#ffb81d', '#1c355e'],
            'dash': ['', 'solid', 'solid', 'solid', 'solid', 'solid', 'solid']
        },
        'ta3': {
            'color': ['', '#ffb81d', '#b9d9ec', '#006c69', '#1c355e', '#a0d0cb', '#c41d4a', ],
            'dash': ['', 'solid', 'solid', 'solid', 'solid', 'solid', 'solid']
        },
        'tnc': {
            'color': ['', '#8c8d98', '#f5a7e1','#c5c5c5'],
            'dash': ['', 'solid', 'solid','dot']
        },
        'tnc_alt_dash': {
            'color': ['', '#8c8d98', '#f5a7e1','#8c8d98', '#f5a7e1',],
            'dash': ['', 'solid', 'solid','dot','dot']
        },
        'ta_grey_teal': {
            'color': ['', '#d7d7d7', '#006c69'],
            'dash': ['', 'solid', 'solid']
        },
        'ta_grey_gold': {
            'color': ['', '#d7d7d7', '#ffb81d'],
            'dash': ['', 'solid', 'solid']
        },
        'ta_grey_ruby': {
            'color': ['', '#d7d7d7', '#c41d4a'],
            'dash': ['', 'solid', 'solid']
        },
        'ta_grey_midnight': {
            'color': ['', '#d7d7d7', '#1c355e'],
            'dash': ['', 'solid', 'solid']
        },
        'ta_grey_karl': {
            'color': ['', '#d7d7d7', '#b9d9ec'],
            'dash': ['', 'solid', 'solid']
        },
        'ta_grey_baygreen': {
            'color': ['', '#d7d7d7', '#a0d0cb'],
            'dash': ['', 'solid', 'solid']
        },
        'colorblind': {
            'color': ['', '#FF8D6D', '#F6CF3F', '#9BAE89', '#8CB8CA', '#CD7F9E'],
        },
        'extended': {
            'color': ['', '#FF8D6D', '#EBA65E', '#F6CF3F', '#D4D756', '#9BAE89', '#8CB8CA', '#CD7F9E'],
        }
    }
    
    var tfs = {
        'tf1': '',
        'tf2': ',.0%'
    }
    var data = [];
    var xvals;
    for (let i in csvdata) {
        if (i==0) {
            xvals = csvdata[i].slice(1);
        } else {
            data.push({x: xvals, y: csvdata[i].slice(1),
                        name: csvdata[i][0],
                        type: 'scatter',
                        marker: {color: styles[{{ $style }}]['color'][i]},
                        line: {dash: styles[{{ $style }}]['dash'][i]}
                    })
        }
    }
    var layout = {
        title: {{ $title }},
        xaxis: {
                autotick: true,
                title: {text: {{ $xaxis_title }}},
                },
        yaxis: {
                rangemode: 'tozero',
                title: {text: {{ $yaxis_title }}},
                tickformat: tfs[{{ $tf }}]
                },
    };
    var config = {responsive: false};
    Plotly.plot({{ .Get "id" }}, data, layout, config);
</script>