{{ $csvURL1 := .Get "csvfile1" }}
{{ $csv1 := getCSV "," $csvURL1 }}
{{ $csvURL2 := .Get "csvfile2" }}
{{ $csv2 := getCSV "," $csvURL2 }}
{{ $csvURL3 := .Get "csvfile3" }}
{{ $csv3 := getCSV "," $csvURL3 }}
{{ $height := .Get "height" | default "400px" }}
{{ $width := .Get "width" | default "800px" }}
{{ $title := .Get "title" | default "" }}
{{ $subtitle1 := .Get "subtitle1" | default "" }}
{{ $subtitle2 := .Get "subtitle2" | default "" }}
{{ $style := .Get "style" | default "style1" }}
{{ $tf := .Get "tf" | default "tf1" }}

<div id='{{ .Get "id" }}' style="height:{{$height}};width:{{$width}}">

</div>

<script>
    var csvdata1 = {{ $csv1 }};
    var csvdata2 = {{ $csv2 }};
    var csvdata3 = {{ $csv3 }};
    
    var styles = {
        'style1': {
            'color': ['#8CB8CA', '#D4D757', '#8CB8CA', '#D4D757'],
        },
        'style2': {
            'color': ['#FF8F6E', '#93BBCC', '#A8A9AB', '#F7CF3F'],
        },
        'style3': {
            'color': ['#8CB8CA', '#D4D757', '#CA7F9B', '#F7CF3F'],
        },
        'ta': {
            'color': ['#006c69', '#a0d0cb', '#b9d9ec', '#ffb81d', '#c41d4a', '#1c355e'],
        },
        'ta2': {
            'color': ['#006c69',  '#b9d9ec', '#a0d0cb', '#c41d4a', '#ffb81d', '#1c355e'],
        },
        'ta3': {
            'color': ['#ffb81d', '#b9d9ec', '#006c69', '#1c355e', '#a0d0cb', '#c41d4a', ],
        },
        'ta_grey_teal': {
            'color': ['#d7d7d7', '#d7d7d7', '#006c69'],
        },
        'ta_grey_gold': {
            'color': ['#d7d7d7', '#ffb81d'],
        },
        'ta_grey_ruby': {
            'color': ['#d7d7d7', '#c41d4a'],
        },
        'ta_grey_midnight': {
            'color': ['#d7d7d7', '#1c355e'],
        },
        'ta_grey_karl': {
            'color': ['#d7d7d7', '#b9d9ec'],
        },
        'ta_grey_baygreen': {
            'color': ['#d7d7d7', '#a0d0cb'],
        },
        'ta_secondary_green': {
            'color': ['#F2F2F2','#D9D9D9','#9FCFCA'],
        },
        'colorblind': {
            'color': ['#FF8D6D', '#F6CF3F', '#9BAE89', '#8CB8CA', '#CD7F9E'],
        },
        'extended': {
            'color': ['#FF8D6D', '#EBA65E', '#F6CF3F', '#D4D756', '#9BAE89', '#8CB8CA', '#CD7F9E'],
        }
    }
    
    var tfs = {
        'tf1': '',
        'tf2': ',.0%'
    }
    
    var data = [];
    var labels;
    
    for (let i in csvdata1) {
        if (i==0) {
            labels = csvdata1[i].slice(1);
        } else {
            console.log(csvdata1[i].slice(1))
            console.log(csvdata1[i][0])
            data.push({values: csvdata1[i].slice(1), 
                       labels: labels,
                       name: csvdata1[i][0],
                       type: 'pie',
                       marker: {colors: styles[{{ $style }}]['color']},
                       domain: {row: 0, column: 0},
                    })
        }
    }
    
    for (let j in csvdata2) {
        if (j==0) {
            labels = csvdata1[j].slice(1);
        } else {
            console.log(csvdata2[j].slice(1))
            console.log(csvdata2[j][0])
            data.push({values: csvdata2[j].slice(1), 
                       labels: labels,
                       name: csvdata1[j][0],
                       type: 'pie',
                       marker: {colors: styles[{{ $style }}]['color']},
                       domain: {row: 0, column: 1},
                    })
        }
    }
    
    for (let k in csvdata3) {
        if (k==0) {
            labels = csvdata1[k].slice(1);
        } else {
            console.log(csvdata3[k].slice(1))
            console.log(csvdata3[k][0])
            data.push({values: csvdata3[k].slice(1), 
                       labels: labels,
                       name: csvdata1[k][0],
                       type: 'pie',
                       marker: {colors: styles[{{ $style }}]['color']},
                       domain: {row: 0, column: 2},
                    })
        }
    }

    var layout = {
        title: {{ $title }},
        grid: {rows: 1, columns: 3},
        legend: {"orientation": "h",
                 x: 0,
                 y: -0.25},
    };
    var config = {responsive: false};
    Plotly.newPlot({{ .Get "id" }}, data, layout, config);
</script>